<%= form_for(@task, html: {class: "pure-form pure-form-stacked"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <p>Select the project this task belongs to</p>
    <%= f.select(:project_id, Project.options_list) %>
  </div>
  <div class="actions">
    <p><%= f.submit 'Submit', class: 'pure-button button-xlarge button-success' %></p>
  </div>
<% end %>
