<%= form_for(@task, html: {class: "pure-form pure-form-aligned"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <div class="pure-control-group form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="pure-control-group form-field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="pure-control-group form-field">
    <%= f.label :command %>
    <%= f.text_field :command %>
  </div>

  <div class="pure-controls form-field">
    <%= f.label :project %>
    <p>Select the project this task belongs to</p>
    <%= f.select(:project_id, Project.options_list) %>
  </div>

  <div class="pure-controls actions">
    <p><%= f.submit 'Submit', class: 'pure-button button-xlarge button-success' %></p>
  </div>
  </fieldset>
<% end %>
