<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.task.description %>
</p>

<p>
  <strong>Command:</strong>
  <span class="command"><%= @job.task.command %></span>
</p>


<p>
  <strong>Log:</strong>
  <pre class="job-log"><%= @job.log %></pre>
</p>

<%= link_to 'Back', :back %>
