<p id="notice"><%= notice %></p>


<h1>Listing Projects</h1>

<div class="project-new"><p><%= link_to 'New Project', new_project_path, class: "pure-button button-secondary button-small" %></p></div>

<table class="pure-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th class="button-small">Edit</th>
      <th class="button-xsmall">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td><%= project.description %></td>
        <td><%= link_to '', edit_project_path(project), class: "fa fa-pencil-square-o" %></td>
        <td><%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-times" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
