<p id="notice"><%= notice %></p>

[ <%= link_to 'Projects List', projects_path %> ]

<div class="project-title">
  <ul class="project-menu">
    <li><%= link_to '', edit_project_path(@project), class: 'fa fa-pencil-square-o' %> </li>
    <li><%= link_to '', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-times" %></li>
  </ul>
  <h1><%= @project.title %></h1>
  <p>Description: <%= @project.description %> </p>
  <p>Repository: <%= @project.repo %> </p>
  <p>Branch: <%= @project.branch %> </p>
</div>


<% if @project.tasks.exists? %>
  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
        <th colspan="2"><h2>Available Tasks</h2><%= link_to 'New Task', new_task_path, class: "new-task pure-button button-secondary button-small" %></th>
  
      </tr>
    </thead>

    <tbody>
      <% @project.tasks.each do | task | %>
        <tr>
          <td>
            <h3><%= link_to task.title, edit_task_path(task) %></h3>
            <p><%= task.description %></p>
          </td>

          <td>
            <%= button_to "RUN", { controller: "jobs", action: "create" }, params: {"job[task_id]" => task.id }, form_class: 'pure-button button-success run-button' %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= link_to 'Create a New Task', new_task_path, class: "pure-button button-secondary button-small" %>
<% end %>


<% if @project.jobs.exists? %>
  <h3>Completed Jobs</h3>
  <dl class="completed-jobs">
  <% @project.jobs.each do | job | %>
    <dt><%= link_to job.task.title , job %> (<%= job.created_at %>)</dt>
      <dd><code class="command"><%= job.task.command %></code></dd>
  <% end %>
  </dl>
<% end %>
