<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% @project.jobs.each do | job | %>
  <p><%= job %> </p>
<% end %>


<% @project.tasks.each do | task | %>
  <p><%= task %> </p>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
