<!DOCTYPE html>
<html>
<head>
  <title>Bqpd</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <%= render "layouts/menu" %>

    <div id="main">
        <div class="header">
            <h1>Projects Dashboard</h1>
            <h2>View projects and their status here</h2>
        </div>

        <div class="content">


            <%= yield %>


        </div>
    </div>
</div>

</body>
</html>
